@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Humane Society</h1>
    <p class="lead">Humane Society of the UNITED STATES.</p>
    <p><a href="https://www.humanesociety.org/our-policies" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
       "The  statements of policy have been prepared by the professional staff of the Humane Society of the United States (HSUS) and were approved by its Board of Directors on October 22, 2005. </p> <p> <a class=" btn btn-default"href="https://www.humanesociety.org/our-policies">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more about Pets</h2>
        <p>The Humane Society of the United States is the nation’s most effective animal protection organization. With you by our side, we take on the big fights to end suffering for all animal.</p>
        <p><a class="btn btn-default" href="https://www.humanesociety.org/our-impact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What You Can Do?</h2>
        <p>
            Donate monthly to help animals
            Just $19 a month (or whatever you can afford) will make an impact in the ongoing fight to protect animals..
        </p>
        <p><a class="btn btn-default" href="https://www.humanesociety.org/how-you-can-help">Learn more &raquo;</a></p>
        
    </div>
</div>